

.main-documents {
  padding: 10px;
  max-width: 680px;
  margin: auto;
  // text-align: justify;
  h1 {
    margin: 10px 0;
  }
}
.section-title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid $orange;
}
.inputs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  .item {
    .header-item {
      background-color: #fff;
      font-size: 12px;
      padding: 10px 10px;
      margin: 5px 0;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	  display: -ms-flexbox;  /* TWEENER - IE 10 */
  	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      -webkit-box-justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      .libelle {
        width: 70%;
        margin-left: 5px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
      .size {
        font-size: 10px;
        font-weight: 200;
        margin-right: 10px;
      }
      .labelCheck {
        cursor: pointer;
        .checked {
          opacity: 0.5;
          width: 20px;
          height: 25px;
          display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;  /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
          -webkit-box-align-items: center;
          -webkit-align-items: center;
          -ms-align-items: center;
          align-items: center;
          -webkit-box-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          background: url('../img/bg-input.png') center center;
          background-size: cover;
          text-align: center;
          color: $orange;
          img {
            width: 12px;
            display: none;
          }
        }
      }
      .checkbox {
        opacity: 0;
        position: absolute;
        left: -1000px;
      }
      .checkbox:checked ~ .labelCheck .checked {
         opacity: 1;
        //  img.check {
        //    display: inline-block;
        //  }
        //  img.tiret {
        //    display: none;
        //  }
         .showimg {
           display: inline-block !important;
         }
         .hideimg {
           display: none !important;
         }
      }
    }
    .hide {
      visibility: hidden;
      position: absolute;
    }
    .dropdown {
      padding: 0;
      margin: 0;
      height: auto;
      li {
        list-style: none;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        padding: 5px 10px;
        padding-left: 25px;
        margin: 5px 0;
        font-weight: 400;
        label {
          cursor: pointer;
          display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
          display: -ms-flexbox;  /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
          display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
          -webkit-box-align-items: center;
          -webkit-align-items: center;
          -ms-align-items: center;
          align-items: center;
          -webkit-box-justify-content: space-between;
          -webkit-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between;
          span:first-child {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
          }
          .checked {
            margin-right: 2px;
            opacity: 0.5;
            width: 15px;
            height: 19px;
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            -webkit-box-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -webkit-box-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            background: url('../img/bg-input.png') center center;
            background-size: cover;
            text-align: center;
            color: $orange;
            img {
              width: 8px;
              display: none;
            }
          }
          .size {
            font-weight: 200;
            font-size: 10px;
            margin-right: 10px;
          }
        }
        .checkbox-small {
          opacity: 0;
          position: absolute;
          left: -1000px;
        }
        .checkbox-small:checked ~ label .checked {
          opacity: 1;
          img {
             display: inline-block;
          }
        }
      }
    }
  }
}
.dl-button {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  cursor: pointer;
  width: 200px;
  padding: 10px 5px;
  border: 1px $orange solid;
  color: $orange;
  margin: auto;
  background-color: $background-color;
  font-weight: 600;
  transition: 0.3s;
  outline: none;
  svg {
    width: 40px;
    path:nth-child(1) {
        fill: $orange;
        transition: 0.3s;
    }
    path:nth-child(2) {
        fill: transparent;
        stroke: $orange;
        transition: 0.3s;
    }
  }
}
.dl-button:hover {
  background-color: $orange;
  color: #fff;
  transition: 0.3s;
  svg {
    width: 40px;
    path:nth-child(1) {
        fill: #fff;
        transition: 0.3s;
    }
    path:nth-child(2) {
        stroke: #fff;
        transition: 0.3s;
    }
  }
}
.datasize::after {
  content: " Mo";
  font-weight: 200;
}
.chevron {
  transition: 0.5s;
}
.rotate {
  transition: 0.5s;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}

.section-2 {
  padding: 0;
  list-style: none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  li {
    width: 300px;
    a {
      text-decoration: none;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      opacity: 0.8;
      .content-book {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-flex-direction: column;
        -webkit-flex-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        h3 {
          margin: 5px 0;
          font-size: 12px;
          color: $orange;
          font-weight: bold;
        }
        span {
          font-size: 11px;
          font-weight: 200;
          color: #000;
        }
        svg {
          width: 40px;
          path:nth-child(1) {
              fill: $orange;
              transition: 0.3s;
          }
          path:nth-child(2) {
              fill: transparent;
              stroke: $orange;
              transition: 0.3s;
          }
        }
      }
    }
    a:hover {
      opacity: 1;
    }
  }
}

.section-3 {
  ul {
    padding: 0;
    .cahier {
      background-color: #fff;
      font-size: 12px;
      padding: 10px 10px;
      margin: 5px 0;
      font-weight: bold;
      list-style: none;
      a {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-box-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        color: #000;
        font-style: normal;
        text-decoration: none;
        opacity: 0.7;
        .libelle {
          flex: 1;
        }
        .size {
          font-size: 10px;
          margin: 0 10px;
          font-weight: 200;
        }
         svg {
          width: 30px;
          path:nth-child(1) {
              fill: $orange;
              transition: 0.3s;
          }
          path:nth-child(2) {
              fill: transparent;
              stroke: $orange;
              transition: 0.3s;
          }
        }
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}

/* Media Queries */

@media screen and (min-width: 640px) {
  .date {
    font-size: 46px;
  }
}
