$font-stack:    Calibri, sans-serif;
$primary-color: #292929;
$background-color: #f8f8f8;
$orange: #e79655;
$dark-color : #242424;
$dark-color-transparent : rgba(36, 36, 36, 0.25);
$light-color: #ffffff;
$coral-color:#f0847a;
$light-green: #98c67f;
$blue-green: #5a8fa6;
$dark-yellow: #fcc04b;
$grey-hexagon:rgb(41, 41, 41);

body {
  margin: 0;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}
*{
 box-sizing: border-box;

}

@import 'header';
@import 'documents';
@import 'homepage';
@import 'media-queries-640';
