body {
  margin: 0;
  font: 100% Calibri, sans-serif;
  color: #292929;
  background-color: #f8f8f8; }

.header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logoAXA {
  height: 25px; }

.date {
  font-size: 23px;
  font-weight: bold; }

.hamburger {
  width: 30px;
  cursor: pointer; }
  .hamburger .line {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #000;
    margin: 6px 0; }

.bandeau-cookies {
  color: #fff;
  padding: 20px 40px;
  background-color: #103084;
  font-size: 0.563em; }

.text {
  display: inline-block;
  width: 90%; }

.cross {
  border: 1px #fff solid;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: right; }

main {
  padding: 10px; }
  main h1 {
    margin: 10px 0; }

.section-title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e79655; }

.inputs {
  list-style: none;
  padding: 0;
  margin: 0; }
  .inputs .item {
    background-color: #fff;
    font-size: 12px;
    padding: 10px 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer; }
    .inputs .item .libelle {
      width: 85%; }
    .inputs .item .checkbox {
      display: none; }
    .inputs .item .labelCheck {
      cursor: pointer; }
      .inputs .item .labelCheck .checked {
        width: 20px;
        height: 25px;
        line-height: 25px;
        display: block;
        background: url("../img/bg-input.png") center center;
        background-size: cover;
        text-align: center;
        color: #e79655; }
        .inputs .item .labelCheck .checked .icon-check {
          display: none; }
    .inputs .item .checkbox:checked ~ .labelCheck .checked .icon-check {
      display: block; }

#dropdown-groupe {
  padding: 0;
  margin: 0px;
  display: none; }
  #dropdown-groupe li {
    display: block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    padding-left: 25px;
    margin: 5px 0;
    font-weight: 500; }

/* Media Queries */
@media screen and (min-width: 640px) {
  .date {
    font-size: 46px; } }
.hexagones {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0; }

.hexagone-container {
  width: 50%; }

.hexagone_single {
  fill: rgba(36, 36, 36, 0.25);
  stroke: #ffffff; }

.hexagone_single svg path {
  width: 163.046px;
  height: 142.046px;
  stroke: #ffffff;
  stroke-width: 2.031px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  fill-rule: evenodd;
  fill-opacity: 0.251;
  fill: #292929; }

.hexagone_single {
  width: 50%; }

.hexagone_single:hover path {
  fill-opacity: 1; }

.hexagone_single:nth-child(1):hover path {
  fill: #f0847a; }

.hexagone_single:nth-child(2):hover path {
  fill: #98c67f; }

.hexagone_single:nth-child(3):hover path {
  fill: #5a8fa6; }

.hexagone_single:nth-child(4):hover path {
  fill: #fcc04b; }

.hexagone_single:nth-child(7), .hexagone_single:nth-child(5), .hexagone_single:nth-child(6) {
  display: none; }

/* Media Queries */
@media screen and (min-width: 640px) {
  .date {
    font-size: 46px; } }

/*# sourceMappingURL=main.css.map */
