body {
  margin: 0;
  font: 100% Calibri, sans-serif;
  color: #292929;
  background-color: #f8f8f8; }

* {
  box-sizing: border-box; }

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px; }

.logoAXA {
  height: 25px; }

.date {
  font-size: 23px;
  font-weight: bold; }

.hamburger {
  width: 54px;
  height: 44px;
  cursor: pointer; }
  .hamburger svg {
    width: 100%;
    height: 100%; }

.bandeau-cookies {
  color: #fff;
  padding: 10px;
  background-color: #103084;
  font-size: 0.563em;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .bandeau-cookies button {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #ffffff;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px;
    cursor: pointer; }
    .bandeau-cookies button svg {
      fill: #ffffff; }

.is-hidden {
  display: none; }

.text {
  display: inline-block;
  width: 90%; }

.cross {
  border: 1px #fff solid;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: right; }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 5px;
  height: 100%; }

.main-documents {
  padding: 10px;
  max-width: 680px;
  margin: auto; }
  .main-documents h1 {
    margin: 10px 0; }

.section-title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e79655; }

.inputs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; }
  .inputs .item .header-item {
    background-color: #fff;
    font-size: 12px;
    padding: 10px 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer; }
    .inputs .item .header-item .libelle {
      width: 70%;
      margin-left: 5px;
      flex: 1; }
    .inputs .item .header-item .size {
      font-size: 10px;
      font-weight: 200;
      margin-right: 10px; }
    .inputs .item .header-item .labelCheck {
      cursor: pointer; }
      .inputs .item .header-item .labelCheck .checked {
        opacity: 0.5;
        width: 20px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../img/bg-input.png") center center;
        background-size: cover;
        text-align: center;
        color: #e79655; }
        .inputs .item .header-item .labelCheck .checked img {
          width: 12px;
          display: none; }
    .inputs .item .header-item .checkbox {
      opacity: 0;
      position: absolute;
      left: -1000px; }
    .inputs .item .header-item .checkbox:checked ~ .labelCheck .checked {
      opacity: 1; }
      .inputs .item .header-item .checkbox:checked ~ .labelCheck .checked .showimg {
        display: inline-block !important; }
      .inputs .item .header-item .checkbox:checked ~ .labelCheck .checked .hideimg {
        display: none !important; }
  .inputs .item .hide {
    visibility: hidden;
    position: absolute; }
  .inputs .item .dropdown {
    padding: 0;
    margin: 0;
    height: auto; }
    .inputs .item .dropdown li {
      list-style: none;
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      padding: 5px 10px;
      padding-left: 25px;
      margin: 5px 0;
      font-weight: 400; }
      .inputs .item .dropdown li label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .inputs .item .dropdown li label span:first-child {
          flex: 1; }
        .inputs .item .dropdown li label .checked {
          margin-right: 2px;
          opacity: 0.5;
          width: 15px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url("../img/bg-input.png") center center;
          background-size: cover;
          text-align: center;
          color: #e79655; }
          .inputs .item .dropdown li label .checked img {
            width: 8px;
            display: none; }
        .inputs .item .dropdown li label .size {
          font-weight: 200;
          font-size: 10px;
          margin-right: 10px; }
      .inputs .item .dropdown li .checkbox-small {
        opacity: 0;
        position: absolute;
        left: -1000px; }
      .inputs .item .dropdown li .checkbox-small:checked ~ label .checked {
        opacity: 1; }
        .inputs .item .dropdown li .checkbox-small:checked ~ label .checked img {
          display: inline-block; }

.dl-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 200px;
  padding: 10px 5px;
  border: 1px #e79655 solid;
  color: #e79655;
  margin: auto;
  background-color: #f8f8f8;
  font-weight: 600;
  transition: 0.3s;
  outline: none; }
  .dl-button svg {
    width: 40px; }
    .dl-button svg path:nth-child(1) {
      fill: #e79655;
      transition: 0.3s; }
    .dl-button svg path:nth-child(2) {
      fill: transparent;
      stroke: #e79655;
      transition: 0.3s; }

.dl-button:hover {
  background-color: #e79655;
  color: #fff;
  transition: 0.3s; }
  .dl-button:hover svg {
    width: 40px; }
    .dl-button:hover svg path:nth-child(1) {
      fill: #fff;
      transition: 0.3s; }
    .dl-button:hover svg path:nth-child(2) {
      stroke: #fff;
      transition: 0.3s; }

.datasize::after {
  content: " Mo";
  font-weight: 200; }

.chevron {
  transition: 0.5s; }

.rotate {
  transition: 0.5s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

.section-2 {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .section-2 li {
    width: 300px; }
    .section-2 li a {
      text-decoration: none;
      display: flex;
      opacity: 0.8; }
      .section-2 li a .content-book {
        display: flex;
        flex-direction: column; }
        .section-2 li a .content-book h3 {
          margin: 5px 0;
          font-size: 12px;
          color: #e79655;
          font-weight: bold; }
        .section-2 li a .content-book span {
          font-size: 11px;
          font-weight: 200;
          color: #000; }
        .section-2 li a .content-book svg {
          width: 40px; }
          .section-2 li a .content-book svg path:nth-child(1) {
            fill: #e79655;
            transition: 0.3s; }
          .section-2 li a .content-book svg path:nth-child(2) {
            fill: transparent;
            stroke: #e79655;
            transition: 0.3s; }
    .section-2 li a:hover {
      opacity: 1; }

.section-3 ul {
  padding: 0; }
  .section-3 ul .cahier {
    background-color: #fff;
    font-size: 12px;
    padding: 10px 10px;
    margin: 5px 0;
    font-weight: bold;
    list-style: none; }
    .section-3 ul .cahier a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      font-style: normal;
      text-decoration: none;
      opacity: 0.7; }
      .section-3 ul .cahier a .libelle {
        flex: 1; }
      .section-3 ul .cahier a .size {
        font-size: 10px;
        margin: 0 10px;
        font-weight: 200; }
      .section-3 ul .cahier a svg {
        width: 30px; }
        .section-3 ul .cahier a svg path:nth-child(1) {
          fill: #e79655;
          transition: 0.3s; }
        .section-3 ul .cahier a svg path:nth-child(2) {
          fill: transparent;
          stroke: #e79655;
          transition: 0.3s; }
    .section-3 ul .cahier a:hover {
      opacity: 1; }

/* Media Queries */
@media screen and (min-width: 640px) {
  .date {
    font-size: 46px; } }
html {
  height: 100vh; }

.body-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: url("../img/background-full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 60px; }

.main-homepage {
  height: calc(100% - 100px - 39.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.main-homepage h1 {
  display: none; }

nav {
  position: relative;
  width: calc( 100vw * 0.8656);
  height: calc( 100vw * 0.8537); }

.hexagones {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  width: 100%;
  height: 100%; }

.hexagone-container {
  width: 50%; }

.hexagone_single {
  fill: rgba(36, 36, 36, 0.25);
  stroke: #ffffff;
  position: absolute;
  width: 66.8%;
  height: 39.4%; }
  .hexagone_single p {
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    width: 60%;
    margin: 0; }
  .hexagone_single a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%; }
  .hexagone_single .hexagon {
    width: 100%;
    height: 100%; }
  .hexagone_single .hexagon path {
    stroke: #ffffff;
    stroke-width: 2.031px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill-rule: evenodd;
    fill-opacity: 0.251;
    fill: #292929; }
  .hexagone_single .more {
    width: 6.56%;
    fill: #ffffff;
    stroke: transparent;
    margin-top: 10px;
    display: none; }
  .hexagone_single .content-hexa {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }

.hexagone_single:nth-child(2) {
  top: 19.5%;
  right: 0; }

.hexagone_single:nth-child(3) {
  top: 39.1%; }

.hexagone_single:nth-child(4) {
  top: 58.8%;
  right: 0; }

.hexagone_single:hover .hexagon path {
  fill-opacity: 1; }

.hexagone_single:nth-child(1):hover .hexagon path {
  fill: #f0847a; }

.hexagone_single:nth-child(2):hover .hexagon path {
  fill: #98c67f; }

.hexagone_single:nth-child(3):hover .hexagon path {
  fill: #5a8fa6; }

.hexagone_single:hover a span .more {
  display: block; }

.hexagone_single:nth-child(4):hover a span .more {
  display: block; }

.hexagone_single:nth-child(5):hover a span .more {
  display: block; }

.hexagone_single:nth-child(6):hover a span .more {
  display: block; }

.hexagone_single:nth-child(7):hover a span .more {
  display: block; }

.hexagone_single:nth-child(4):hover .hexagon path {
  fill: #fcc04b; }

.hexagone_single:nth-child(5),
.hexagone_single:nth-child(6),
.hexagone_single:nth-child(7) {
  display: none; }

footer {
  height: 39.5px;
  width: 39.5px; }

.footer-share ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  width: 39.5px;
  height: 39.5px;
  background-color: #090907;
  text-align: center; }
  .footer-share ul li {
    height: calc(100% - 5px);
    /* padding: 10px 0; */
    width: calc(100% - 5px);
    /* margin-left: 0; */
    text-align: center; }
    .footer-share ul li img {
      width: 100%; }
  .footer-share ul li:nth-child(2) {
    display: none; }
.footer-share a {
  color: #ffffff;
  text-decoration: none; }

.footer-legal,
.footer-social {
  display: none; }

.header-year span:first-of-type {
  display: none; }

/* Media Queries */
@media screen and (min-width: 640px) {
  .date {
    font-size: 46px; } }
@media screen and (min-width: 640px) {
  .dl-button {
    margin-right: 0 !important; }

  .section-2 {
    justify-content: space-between !important; } }
@media screen and (min-width: 960px) {
  .bandeau-cookies,
  .hamburger {
    display: none; }

  .header-container {
    height: 100%;
    padding: 0 50px; }

  .header-container span:first-of-type {
    display: block; }

  .header-year {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: bold; }
    .header-year span:first-of-type {
      max-width: 50px;
      font-size: 14px; }
    .header-year .date {
      font-size: 26px; }

  .logoAXA {
    height: 45px; }

  .header {
    height: 82px; }

  .main-homepage h1 {
    display: block;
    font-size: 20px;
    color: white;
    font-weight: bold;
    left: 150px;
    top: 100px;
    position: absolute;
    max-width: 150px; }

  .main-homepage {
    height: calc(100% - 82px - 65px); }

  .main-homepage nav {
    width: 760px;
    height: 650px;
    margin-top: 200px; }
    .main-homepage nav ul .hexagone_single {
      width: 33%; }
      .main-homepage nav ul .hexagone_single .hexagon {
        transform: rotate(30deg); }
      .main-homepage nav ul .hexagone_single .content-hexa {
        z-index: 999; }
        .main-homepage nav ul .hexagone_single .content-hexa p {
          font-size: 16px; }
    .main-homepage nav ul .hexagone_single:nth-child(3) {
      top: 0;
      left: 28.4%; }
    .main-homepage nav ul .hexagone_single:nth-child(4) {
      left: 56.8%;
      top: 0; }
    .main-homepage nav ul .hexagone_single:nth-child(5) {
      display: block;
      position: absolute;
      top: 28.9%;
      left: 14.1%; }
    .main-homepage nav ul .hexagone_single:nth-child(6) {
      display: block;
      position: absolute;
      top: 28.9%;
      left: 42.6%; }
    .main-homepage nav ul .hexagone_single:nth-child(7) {
      display: block;
      position: absolute;
      top: 28.9%;
      left: 70.9%; }
    .main-homepage nav ul .hexagone_single:nth-child(2) {
      visibility: hidden; }
    .main-homepage nav ul .hexagone_single:nth-child(5):hover .hexagon path {
      fill: #a69d57; }
    .main-homepage nav ul .hexagone_single:nth-child(6):hover .hexagon path {
      fill: #98c67f; }
    .main-homepage nav ul .hexagone_single:nth-child(7):hover .hexagon path {
      fill: #e79655; }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    font-weight: lighter;
    height: 65px;
    width: 100vw;
    font-size: 12px; }
    footer section {
      width: 33.33%; }
    footer .footer-share ul {
      background-color: #232321;
      height: 100%; }
    footer .footer-share li {
      height: 50%; }
    footer .footer-share li:nth-child(2) {
      display: block;
      margin-top: 5px; }
    footer .footer-share li:first-of-type {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding: 5px; }
    footer .footer-legal p {
      position: absolute;
      bottom: 5px;
      width: inherit;
      margin: 0; }
    footer .footer-social {
      text-align: right;
      opacity: 0.7;
      margin: 0;
      padding: 0;
      height: 65px;
      width: 234px;
      text-align: right;
      opacity: 0.7;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      footer .footer-social span {
        width: 100%;
        margin-right: 0;
        font-size: 12px;
        padding-right: 13px; }
      footer .footer-social ul {
        margin: 0;
        padding: 5px 0;
        height: calc(100% - 15px);
        margin: 0;
        padding: 0;
        /* height: 35px; */
        list-style-type: none; }
        footer .footer-social ul li {
          float: right;
          /* padding: 9px; */
          margin-top: 15px;
          height: 50%;
          text-align: center;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          padding: 0 13px; }
          footer .footer-social ul li img {
            max-height: 20px;
            margin: auto;
            top: 0;
            bottom: 0;
            /* position: absolute; */ }
        footer .footer-social ul li:not(:first-of-type) {
          border-right: 1px solid rgba(255, 255, 255, 0.7);
          display: block; }

  .footer-legal,
  .footer-social {
    display: block; } }
@media screen and (min-width: 1280px) {
  .main-homepage h1 {
    font-size: 40px; } }

/*# sourceMappingURL=main.css.map */
